<!-- This is the start page where the user can start a new quiz from button click -->
<template>
  <div class="bg">
    <div>
      <h1>
        Welcome to <strong>The Greatest Video Game Quiz</strong> of All Times
      </h1>
    </div>
    <div id="start-button">
      <router-link id="router-link-btn" tag="b-button" to="/trivia"
        >Start new game</router-link
      >
    </div>
  </div>
</template>

<script>
export default {
  name: 'GameMenu'
};
</script>

<style scoped>
#router-link-btn {
  width: 20%;
  margin: 50px;
  background: rgba(201, 76, 76, 0.5);
  font-family: sans-serif;
  border-color: #ffffff;
}

h1 {
  color: azure;
  padding-top: 50px;
  font-family: sans-serif;
}

#start-button {
  margin-top: 25%;
}

.bg {
  background-image: url('../assets/background.jpg');
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
</style>
