<!--- The main view with methods to control question data, score and progress --->

<template>
  <div class="bg">
    <div id="gamePlay">
      <QuizQuestion
        v-if="questions.length"
        v-bind:currentQuestion="questions[index]"
        v-on:check-answer="submitAndNext"
      />
      <b-alert show id="progressBar"
        >{{ index + 1 }} / {{ questions.length }}</b-alert
      >
    </div>
  </div>
</template>

<script>
import QuizQuestion from '../components/QuizQuestion';
import axios from 'axios';

export default {
  name: 'GamePlay',
  components: {
    QuizQuestion
  },
  data() {
    return {
      questions: [],
      index: 0,
      numCorrect: 0,
      totalScore: 0,
      quizAnswers: []
    };
  },
  methods: {
    increaseIndex() {
      this.index++;
    },
    increaseScoreAndCount(correctAnswer) {
      if (correctAnswer) {
        this.numCorrect++;
        this.totalScore += 10;
      }
    },
    submitAndNext(isCorrect) {
      this.increaseScoreAndCount(isCorrect);
      this.quizAnswers.push(isCorrect);
      if (this.index === this.questions.length - 1) {
        this.$router.push({
          name: 'gameover',
          params: {
            index: this.index,
            numCorrect: this.numCorrect,
            questions: this.questions,
            totalScore: this.totalScore,
            quizAnswers: this.quizAnswers
          }
        });
      }
      this.increaseIndex();
    }
  },
  created() {
    axios
      .get(
        'https://opentdb.com/api.php?amount=10&category=15&difficulty=easy&type=multiple'
      )
      .then(resp => resp.data)
      .then(resp => {
        this.questions = resp.results || [];
      });
  }
};
</script>

<style scoped>
#gamePlay {
  width: 50%;
  margin: auto;
  padding-top: 30px;
}

#progressBar {
  background: rgba(201, 76, 76, 0.5);
  color: #ffffff;
  border-color: #ffffff;
}

.bg {
  background-image: url('../assets/background.jpg');
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
</style>
