<template>
  <div class="bg">
    <div id="game-over">
      <QuizResult
        v-if="questions.length"
        v-bind:questions="questions"
        v-bind:quizAnswers="quizAnswers"
      />
      <h2 id="totScore">TOTAL SCORE: {{ totalScore }}</h2>
      <div>
        <router-link id="router-link-btn" tag="b-button" to="/"
          >Return to start page</router-link
        >
        <router-link id="router-link-btn" tag="b-button" to="/trivia"
          >Restart quiz</router-link
        >
      </div>
    </div>
  </div>
</template>

<script>
import QuizResult from '../components/QuizResult';

export default {
  name: 'GameOver',
  components: {
    QuizResult
  },
  data() {
    return {
      index: null,
      questions: [],
      quizAnswers: [],
      totalScore: null
    };
  },
  created() {
    this.index = this.$route.params.index;
    this.questions = this.$route.params.questions;
    this.totalScore = this.$route.params.totalScore;
    this.quizAnswers = this.$route.params.quizAnswers;
  }
};
</script>

<style scoped>
#router-link-btn {
  background: rgba(201, 76, 76, 0.5);
  font-family: sans-serif;
  border-color: #ffffff;
  margin: 50px 20px;
  text-align: center;
  width: 20%;
}

.bg {
  background-image: url('../assets/background.jpg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#totScore {
  color: #ffffff;
  margin-bottom: 10px;
  margin-top: 60px;
}
</style>
