<!--- Presents current question and answer options --->

<template>
  <div class="quiz-question">
    <b-jumbotron id="jumboQuestion">
      <template v-slot:lead id="questionTemplate">
        <span v-html="currentQuestion.question" id="questionText"></span>
      </template>

      <b-list-group>
        <b-list-group-item
          v-for="(answer, index) in shuffledAnswers"
          v-bind:key="index"
          @click="checkAnswer(index)"
        >
          <span v-html="answer"></span>
        </b-list-group-item>
      </b-list-group>
    </b-jumbotron>
  </div>
</template>

<script>
import _ from 'lodash';

export default {
  name: 'QuizQuestion',
  props: {
    currentQuestion: Object
  },
  data() {
    return {
      correctIndex: null,
      shuffledAnswers: []
    };
  },
  computed: {
    answers() {
      let answers = [...this.currentQuestion.incorrect_answers];
      answers.push(this.currentQuestion.correct_answer);
      return answers;
    }
  },
  watch: {
    currentQuestion: {
      immediate: true,
      handler() {
        this.shuffleAnswers();
      }
    }
  },
  methods: {
    shuffleAnswers() {
      let answers = [
        ...this.currentQuestion.incorrect_answers,
        this.currentQuestion.correct_answer
      ];
      this.shuffledAnswers = _.shuffle(answers);
      this.correctIndex = this.shuffledAnswers.indexOf(
        this.currentQuestion.correct_answer
      );
    },
    checkAnswer(index) {
      let isCorrect = false;
      if (index === this.correctIndex) {
        isCorrect = true;
      }
      this.$emit('check-answer', isCorrect);
    }
  }
};
</script>

<style scoped>
.quiz-question {
  text-align: center;
}

.list-group-item:hover {
  background-color: #eeeeee;
  cursor: pointer;
  color: rgba(201, 76, 76, 0.5);
  -webkit-transition-duration: 0.5s;
}

#jumboQuestion {
  font-family: sans-serif;
  background: rgba(111, 111, 111, 0.5);
}

#questionText {
  color: #ffffff;
}
</style>
