<!--- Component that displays the question w/ answers and displays whether the user answered correctly or not --->
<template>
  <div class="quiz-result">
    <h1>GAME OVER</h1>

    <b-list-group id="result-list">
      <b-list-group-item
        v-for="(question, index) in questions"
        v-bind:key="index"
        v-bind:class="quizAnswers[index] ? 'correctAnswer' : 'wrongAnswer'"
      >
        <strong>
          <span v-html="question.question"></span> </strong
        ><br /><br />
        <strong
          >Correct answer: <span v-html="question.correct_answer"></span
        ></strong>
        <br />
        Incorrect answers:
        <div
          style="display:inline"
          v-for="(answer, index) in question.incorrect_answers"
          v-bind:key="index"
        >
          <span v-html="answer"></span>,
        </div>
      </b-list-group-item>
    </b-list-group>
  </div>
</template>

<script>
export default {
  name: 'QuizResult',
  props: {
    questions: Array,
    quizAnswers: Array
  }
};
</script>

<style scoped>
.quiz-result {
  width: 50%;
  margin: auto;
  padding-top: 30px;
  color: #ffffff;
}

#gameOver {
  color: #ffffff;
  font-size: 40px;
}

#result-list {
  border-color: #ffffff;
  border: 1px solid;
}

h1 {
  color: #ffffff;
  font-size: 50px;
  margin: 50px 0;
}

.correctAnswer {
  background-color: rgba(64, 93, 39, 0.9);
}

.wrongAnswer {
  background-color: rgba(201, 76, 76, 0.9);
}
</style>
